name: PHP

on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [7.4, 8.0, 8.1]

    name: Tests on PHP ${{ matrix.php }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, phpstan
          coverage: pcov

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Lint composer.json
        run: composer validate

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

      - name: Upload Coverage to Scrutinizer
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover coverage.clover
        # Disable on PHP 8 as Ocular isn't supported
        if: matrix.php < 8

      - name: Run PHPStan
        run: phpstan analyse src --level=5
